body{ 
    background: #e74c3c !important; 
}
.TitleRandomName{
    font-size: 32px;
}
.number{
    font-size: 32px;
}
.guess{

    height: 150px;
    font-size: 32px;
    background-color: #e74c3c;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
}
input, select, textarea{
    color: #fff;
    font-size: 32px;
}
.message{
    font-size: 32px;
    border-bottom: 5px solid;
    padding-bottom: 10px;
}